[Desktop Entry]
Type=Application
Name=Spaced Update
Comment=Update APT and Flatpak applications together
Exec=spaced-update
Icon=org.spacedlinux.SpacedUpdate
Terminal=false
Categories=System;
X-Flatpak=org.spacedlinux.SpacedUpdate